{% extends "GafferApp/index.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
    {% block mainBody%}
	<link rel="stylesheet" type="text/css" href="{% static "css/drill.css" %}"/>
    <div class="container-fluid drill_form myJumbotron2 mt-3">


        <form id="CoachingPlanForm" method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
		  {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
		  
		  
          {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}
              {% render_field field class="form-control" %}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
		  <span>
          <button type="submit" id="submitButton" class="btn btn-outline-light commentbut">Submit</button>
		  </span>
        </form>
    </div>

  {% endblock %}
  
